* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgba(255, 0, 0, 0);
  color: #fff;
  padding: 15px;
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex: 1;
}

nav {
  flex: 2;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: 40px;
}

.menu li:last-child {
  margin-right: 0px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.menu a:hover {
  color: #2596be;
}

.search-container {
  flex: 1;
  text-align: right;
}

.search-container input[type=text] {
  padding: 10px;
  border: none;
  border-radius: 50px;
  margin-right: 10px;
}

.search-container button {
  background-color: #2596be;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}


@media screen and (max-width: 1200px) {
  .container {
    flex-wrap: wrap;
  }
  
  .logo, nav, .search-container {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  
  nav {
    order: 3;
  }
  
  .search-container {
    order: 2;
  }
}
