nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.logo img {
  height: 50px;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-container form {
  display: flex;
  align-items: center;
}

#query {
border: none;
border-radius: 20px;
padding: 10px;
margin-right: 10px;
font-size: 16px;
outline: none;
}

#search-container input[type=text] {
  width: 300px;
  height: 30px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
}

#search-container button[type=submit] {
  background-color: #2596be;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 50px;
  font-size: 16px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  margin-right: 20px;
  z-index: 1000;
}

.hamburger-menu .line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 999;
}

.menu-overlay ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.menu-overlay ul li {
  margin: 20px 0;
}

.menu-overlay ul li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

@media (max-width: 870px) {
  nav ul {
    display: none;
  }
  
  .hamburger-menu {
    display: flex;
  }
  
  .menu-overlay {
    display: block;
  }
}
