<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon"
        href="https://animixplay.to/icon.png">
    <title>Animixplay - Watch High Quality Anime Online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="title" content="Animixplay - Watch High Quality Anime Online" />
    <meta name="description"
        content="Animixplay - Watch High Quality Anime Online. You can watch anime online free in HD without Ads. Best place for free find and one-click anime." />
    <meta name="keywords"
        content="Animixplay, watch anime online, free anime, anime stream, anime hd, english sub, kissanime, gogoanime, animeultima, 9anime, 123animes, animefreak, vidstreaming, gogo-stream, animekisa, zoro.to, gogoanime.run, animedex, animekisa" />
    <meta name="charset" content="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Language" content="en" />
    <meta property="og:title" content="Animixplay - Watch High Quality Anime Online">
    <meta property="og:description"
        content="Animixplay - Watch High Quality Anime Online. You can watch anime online free in HD without Ads. Best place for free find and one-click anime.">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Animixplay">
    <meta property="og:url" content="https://animixplay.vercel.app/">
    <meta itemprop="image" content="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/screenshots/home.jpeg">
    <meta property="og:image" content="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/screenshots/home.jpeg">
    <meta property="og:image:secure_url"
        content="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/screenshots/home.jpeg">
    <meta property="og:image:width" content="650">
    <meta property="og:image:height" content="350">
    <meta property="twitter:title" content="Animixplay - Watch High Quality Anime Online">
    <meta property="twitter:description"
        content="Trending page for anime on Animixplay. You can watch anime online free in HD without Sign up. Best place for free find and one-click anime.">
    <meta property="twitter:url" content="">
    <meta property="twitter:card" content="summary">
    <meta name="apple-mobile-web-app-status-bar" content="#202125">
    <link href="../static/css/styles.css" rel="stylesheet">
    <link href="../static/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <header id="head-div">
        <div id="title1">
            <a href="/"><img src="https://animixplay.b-cdn.net/wp-content/uploads/2022/10/cropped-animixplaylogo-1.png"
                    alt="Animixplay"></a>
					 </div><nav1 class="nav1 container1">
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/" class="nav__link">
                        
                        <div id="title1">
                            <a style="color:#2596be " href="https://animixplay.vercel.app/"><h5>𝑯𝒐𝒎𝒆</h5></a> 
                    </a>
                </li>
              
              
                <li class="nav__item">
                    <a href="/" class="nav__link">
                        
                        <div id="title1">
                            <a style="color:#2596be " href="comingsoon"><h5>𝑼𝒑𝒄𝒐𝒎𝒊𝒏𝒈</h5></a> 
                    </a>
                </li>
<li class="nav__item">
                    <a href="/" class="nav__link">
                        
                        <div id="title1">
                            <a style="color:#2596be " href="./static/bookmarks.html"><h5>𝑾𝒂𝒕𝒄𝒉𝒍𝒊𝒔𝒕</h5></a> 
                    </a>
                </li>
            </ul>
        </div>
        </nav1>
    </nav>
        </div>
        <div id="search-div">
            <form action="/search" method='GET'>
                <input type="text" name="query" id="query" placeholder="Search Anime..." required>
                <button type="submit"><i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </header>
 <div class="slideshow-container">
        <div class="mySlides fade">
            <div class="data-slider">
                <p class="spotlight">#1 Spotlight</p>
                <h1>Campfire Cooking in Another World with my Absurd Skill</h1>
                <div class="extra1">
                    <span class="year">
                        <i class="fa fa-play-circle"></i>
                        ANIME
                    </span>
                    <span class="year year2">
                        <i class="fa fa-calendar"></i>
                        RELEASING
                    </span>
                    <span class="cbox cbox1">Comedy</span>
                    <span class="cbox cbox2">HD</span>
                </div>
                <p class="small-synop">
                    Mukouda Tsuyoshi, an ordinary salaryman, is suddenly transported to another world one day. The unique skill he gains upon arrival in this world is the seemingly useless "Online Grocery." Mukouda is discouraged at first, but the modern foods he's able to bring to his new world using this skill prove to have some unbelievable effects!
<br>
                    <br>(Source: Crunchyroll)
                </p>
                <div id="watchh">
                    <a href="https://animixplay-to.vercel.app/episode/tondemo-skill-de-isekai-hourou-meshi/1" class="watch-btn">
                        <i class="fa fa-play-circle"></i>
                        Watch Now 
                    </a>
                    <a href="/anime/Campfire%20Cooking%20in%20Another%20World%20with%20my%20Absurd%20Skill" class="watch-btn watch-btn2">
                        <i class="fa fa-info-circle"></i>
                        Details<i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="shado">
                <a href="/anime/Campfire%20Cooking%20in%20Another%20World%20with%20my%20Absurd%20Skill"></a>
            </div>
            <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/156067-Fy111KTt2uTr.jpg">
        </div>
        <div class="mySlides fade">
            <div class="data-slider">
                <p class="spotlight">#2 Spotlight</p>
                <h1>Buddy Daddies</h1>
                <div class="extra1">
                    <span class="year">
                        <i class="fa fa-play-circle"></i>
                        ANIME
                    </span>
                    <span class="year year2">
                        <i class="fa fa-calendar"></i>
                        RELEASING
                    </span>
                    <span class="cbox cbox1">Comedy</span>
                    <span class="cbox cbox2">HD</span>
                </div>
                <p class="small-synop">
                    Assassins Kazuki Kurusu and Rei Suwa meet Miri, a girl looking for her father on Christmas Day. Kazuki, Rei, and Miri unexpectedly end up living together.<br>
                    <br>Follows Kazuki Kurusu, a criminal contractor/coordinator who lives with his best friend, Rei Suwa, a professional assassin who has been raised from childhood to be a contract killer. Kazuki is outgoing and loves gambling and women, while Rei is a man of few words who spends his off time playing video games. One day, the two buddies end up caring for Miri Unasaka, a four year old girl whose father is a mafia boss, after Miri accidentally wanders into a firefight in a hotel while looking for her father.
                </p>
                <div id="watchh">
                    <a href="https://animixplay-to.vercel.app/episode/buddy-daddies/1" class="watch-btn">
                        <i class="fa fa-play-circle"></i>
                        Watch Now 
                    </a>
                    <a href="/anime/Buddy%20Daddies" class="watch-btn watch-btn2">
                        <i class="fa fa-info-circle"></i>
                        Details<i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="shado">
                <a href="/anime/Buddy%20Daddies"></a>
            </div>
            <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/155907-UhtFRUPBu4cB.jpg">
        </div>
        <div class="mySlides fade">
            <div class="data-slider">
                <p class="spotlight">#3 Spotlight</p>
                <h1>Bungo Stray Dogs 4</h1>
                <div class="extra1">
                    <span class="year">
                        <i class="fa fa-play-circle"></i>
                        ANIME
                    </span>
                    <span class="year year2">
                        <i class="fa fa-calendar"></i>
                        RELEASING
                    </span>
                    <span class="cbox cbox1">Action</span>
                    <span class="cbox cbox2">HD</span>
                </div>
                <p class="small-synop">
                    The fourth season of <i>Bungou Stray Dogs</i>
                    .
                </p>
                <div id="watchh">
                    <a href="https://animixplay-to.vercel.app/episode/bungou-stray-dogs-4th-season/1" class="watch-btn">
                        <i class="fa fa-play-circle"></i>
                        Watch Now 
                    </a>
                    <a href="/anime/Bungo%20Stray%20Dogs%204" class="watch-btn watch-btn2">
                        <i class="fa fa-info-circle"></i>
                        Details<i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="shado">
                <a href="/anime/Bungo%20Stray%20Dogs%204"></a>
            </div>
            <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/141249-ssUG44UgGOMK.jpg">
        </div>
        <div class="mySlides fade">
            <div class="data-slider">
                <p class="spotlight">#4 Spotlight</p>
                <h1>Is It Wrong to Try to Pick Up Girls in a Dungeon? IV Part 2</h1>
                <div class="extra1">
                    <span class="year">
                        <i class="fa fa-play-circle"></i>
                        ANIME
                    </span>
                    <span class="year year2">
                        <i class="fa fa-calendar"></i>
                        FINISHED
                    </span>
                    <span class="cbox cbox1">Adventure</span>
                    <span class="cbox cbox2">HD</span>
                </div>
                <p class="small-synop">
                    The second cour of the fourth season of <i>Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka</i>
                    .
                </p>
                <div id="watchh">
                    <a href="https://animixplay-to.vercel.app/episode/dungeon-ni-deai-wo-motomeru-no-wa-machigatteiru-darou-ka-iv-fuka-shou-yakusai-hen/1" class="watch-btn">
                        <i class="fa fa-play-circle"></i>
                        Watch Now 
                    </a>
                    <a href="/anime/Is%20It%20Wrong%20to%20Try%20to%20Pick%20Up%20Girls%20in%20a%20Dungeon%3F%20IV%20Part%202" class="watch-btn watch-btn2">
                        <i class="fa fa-info-circle"></i>
                        Details<i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="shado">
                <a href="/anime/Is%20It%20Wrong%20to%20Try%20to%20Pick%20Up%20Girls%20in%20a%20Dungeon%3F%20IV%20Part%202"></a>
            </div>
            <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx155211-gWaYXaGmWBXs.png">
        </div>
        
        <div class="mySlides fade">
            <div class="data-slider">
                <p class="spotlight">#6 Spotlight</p>
                <h1>The Iceblade Sorcerer Shall Rule the World</h1>
                <div class="extra1">
                    <span class="year">
                        <i class="fa fa-play-circle"></i>
                        ANIME
                    </span>
                    <span class="year year2">
                        <i class="fa fa-calendar"></i>
                        RELEASING
                    </span>
                    <span class="cbox cbox1">Fantasy</span>
                    <span class="cbox cbox2">HD</span>
                </div>
                <p class="small-synop">
                    The Arnold Academy of Sorcery for society’s most elite has just received their first commoner student: Ray White. Despite the contempt he’s received, Ray’s managed to befriend an eclectic group of classmates that get him into all sorts of schemes. But the pressures of maneuvering teenage drama is half his worries, as he secretly is the most powerful sorcerer…the Iceblade Sorcerer!<br>
                    <br>(Source: Crunchyroll)
                </p>
                <div id="watchh">
                    <a href="https://animixplay-to.vercel.app/episode/hyouken-no-majutsushi-ga-sekai-wo-suberu-dub/1" class="watch-btn">
                        <i class="fa fa-play-circle"></i>
                        Watch Now 
                    </a>
                    <a href="/anime/The%20Iceblade%20Sorcerer%20Shall%20Rule%20the%20World" class="watch-btn watch-btn2">
                        <i class="fa fa-info-circle"></i>
                        Details<i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="shado">
                <a href="/anime/The%20Iceblade%20Sorcerer%20Shall%20Rule%20the%20World"></a>
            </div>
            <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx148116-t6E73U8SJhYD.jpg">
        </div>
        <div class="mySlides fade">
            <div class="data-slider">
                <p class="spotlight">#7 Spotlight</p>
                <h1>The Fruit of Evolution: Before I Knew It, My Life Had It Made Season 2</h1>
                <div class="extra1">
                    <span class="year">
                        <i class="fa fa-play-circle"></i>
                        ANIME
                    </span>
                    <span class="year year2">
                        <i class="fa fa-calendar"></i>
                        RELEASING
                    </span>
                    <span class="cbox cbox1">Action</span>
                    <span class="cbox cbox2">HD</span>
                </div>
                <p class="small-synop">
                    The second season of <i>Shinka no Mi: Shiranai Uchi ni Kachigumi Jinsei</i>
                    .
                </p>
                <div id="watchh">
                    <a href="https://animixplay-to.vercel.app/episode/shin-shinka-no-mi-shiranai-uchi-ni-kachigumi-jinsei-dub/1" class="watch-btn">
                        <i class="fa fa-play-circle"></i>
                        Watch Now 
                    </a>
                    <a href="/anime/The%20Fruit%20of%20Evolution%3A%20Before%20I%20Knew%20It%2C%20My%20Life%20Had%20It%20Made%20Season%202" class="watch-btn watch-btn2">
                        <i class="fa fa-info-circle"></i>
                        Details<i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="shado">
                <a href="/anime/The%20Fruit%20of%20Evolution%3A%20Before%20I%20Knew%20It%2C%20My%20Life%20Had%20It%20Made%20Season%202"></a>
            </div>
            <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx146954-tn3mydVZQfZp.png">
        </div>
        <div class="mySlides fade">
            <div class="data-slider">
                <p class="spotlight">#8 Spotlight</p>
                <h1>The Angel Next Door Spoils Me Rotten</h1>
                <div class="extra1">
                    <span class="year">
                        <i class="fa fa-play-circle"></i>
                        ANIME
                    </span>
                    <span class="year year2">
                        <i class="fa fa-calendar"></i>
                        RELEASING
                    </span>
                    <span class="cbox cbox1">Slice of Life</span>
                    <span class="cbox cbox2">HD</span>
                </div>
                <p class="small-synop">
                    Amane lives alone in an apartment, and the most beautiful girl in school, Mahiru, lives just next door. They've almost never spoken-until the day he sees her in distress on a rainy day and lends her his umbrella. To return the favor, she offers him help around the house, and a relationship slowly begins to blossom as the distance between them closes...<br>
                    <br>(Source: Yen Press)
                </p>
                <div id="watchh">
                    <a href="https://animixplay-to.vercel.app/episode/otonari-no-tenshi-sama-ni-itsunomanika-dame-ningen-ni-sareteita-ken/1" class="watch-btn">
                        <i class="fa fa-play-circle"></i>
                        Watch Now 
                    </a>
                    <a href="/anime/The%20Angel%20Next%20Door%20Spoils%20Me%20Rotten" class="watch-btn watch-btn2">
                        <i class="fa fa-info-circle"></i>
                        Details<i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="shado">
                <a href="/anime/The%20Angel%20Next%20Door%20Spoils%20Me%20Rotten"></a>
            </div>
            <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/143338-d0AqJzRUQCgk.jpg">
        </div>
        <div class="mySlides fade">
            <div class="data-slider">
                <p class="spotlight">#9 Spotlight</p>
                <h1>Vinland Saga Season 2</h1>
                <div class="extra1">
                    <span class="year">
                        <i class="fa fa-play-circle"></i>
                        ANIME
                    </span>
                    <span class="year year2">
                        <i class="fa fa-calendar"></i>
                        RELEASING
                    </span>
                    <span class="cbox cbox1">Adventure</span>
                    <span class="cbox cbox2">HD</span>
                </div>
                <p class="small-synop">
                    The second season of <i>Vinland Saga</i>
                    . <br>
                    <br>
                    When Thorfinn loses it all, he must find his new purpose for living in a strange new land.
<br>
                    <br>(Source: Crunchyroll)
                </p>
                <div id="watchh">
                    <a href="https://animixplay-to.vercel.app/episode/vinland-saga-season-2/1" class="watch-btn">
                        <i class="fa fa-play-circle"></i>
                        Watch Now 
                    </a>
                    <a href="/anime/Vinland%20Saga%20Season%202" class="watch-btn watch-btn2">
                        <i class="fa fa-info-circle"></i>
                        Details<i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="shado">
                <a href="/anime/Vinland%20Saga%20Season%202"></a>
            </div>
            <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/136430-ktoFZnyubhHg.jpg">
        </div>
        <div class="mySlides fade">
            <div class="data-slider">
                <p class="spotlight">#10 Spotlight</p>
                <h1>Tomo-chan Is a Girl!</h1>
                <div class="extra1">
                    <span class="year">
                        <i class="fa fa-play-circle"></i>
                        ANIME
                    </span>
                    <span class="year year2">
                        <i class="fa fa-calendar"></i>
                        RELEASING
                    </span>
                    <span class="cbox cbox1">Slice of Life</span>
                    <span class="cbox cbox2">HD</span>
                </div>
                <p class="small-synop">
                    Tomboy Tomo couldn’t have picked a more awkward high school crush ’cause it’s on her childhood friend, Junichiro, but he only sees her as one of the guys. Despite her pretty looks and signals, nothing gets through to this meathead! Will Junichiro ever realize Tomo’s into him and see her for the cutesy girl she actually is?!<br>
                    <br>
                    (Source: Crunchyroll) <br>
                    <br>
                </p>
                <div id="watchh">
                    <a href="https://animixplay-to.vercel.app/episode/tomo-chan-wa-onnanoko/1" class="watch-btn">
                        <i class="fa fa-play-circle"></i>
                        Watch Now 
                    </a>
                    <a href="/anime/Tomo-chan%20Is%20a%20Girl%21" class="watch-btn watch-btn2">
                        <i class="fa fa-info-circle"></i>
                        Details<i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="shado">
                <a href="/anime/Tomo-chan%20Is%20a%20Girl%21"></a>
            </div>
            <img src="https://s4.anilist.co/file/anilistcdn/media/anime/banner/151806-1AmWChFo1Ogh.jpg">
        </div>
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
</section>
    
    <div id="load"><img src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/img/loading2.gif"
            alt="Loading..."></div>
    


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const imageObserver = new IntersectionObserver((entries, imgObserver) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        const lazyImage = entry.target;
                        lazyImage.src = lazyImage.dataset.src;
                    }
                });
            });
            const arr = document.querySelectorAll('img.lzy_img');
            arr.forEach((v) => {
                imageObserver.observe(v);
            });
        })
    </script>
    <script src="https://cdn.jsdelivr.net/gh/TechShreyash/AnimeDex@main/static/js/home.min.js"></script>
</body>

</html>


