<!DOCTYPE html>
<html lang="en">

<head>
    <!-- existing code... -->
	<link rel="icon" type="image/x-icon"
        href="https://d1nxzqpcg2bym0.cloudfront.net/google_play/com.anime.flv/ec0213b8-f1d8-11e7-8b0a-7d62278fee98/128x128">
    <title>animeflv VideoPlayer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <style type="text/css">
        body {
            background-color: #000;
        }

        .container {
            width: 100%;
            height: 100%;
        }

        video {
            width: 100%;
            height: 100%;
        }
    </style>
	
    <link rel="stylesheet" href="https://cdn.jwplayer.com/lib/14.5.0/skins/five.min.css">
    <script src="https://cdn.jwplayer.com/lib/14.5.0/jwplayer.js"></script>
</head>

<body>

   <div id="player">
 <video controls crossorigin playsinline>
            <source type="application/x-mpegURL" src="https://corsbypass.herokuapp.com/{{ m3u8 }}">
        </video>
   </div>


    <script>
        const source = 'https://corsbypass.herokuapp.com/{{ m3u8 }}';
        document.addEventListener("DOMContentLoaded", () => {
            const player = jwplayer("player");

            const defaultOptions = {
                title: '{{ title }}'
            };

            player.setup({
                file: source,
                autostart: false,
                playbackRateControls: true,
                controls: true,
                displaytitle: true,
                width: "100%",
                height: "auto",
                skin: {
                    name: "five"
                }
            });

            player.on("levelsChanged", function () {
                const availableQualities = player.getQualityLevels().map((l) => l.label);

                defaultOptions.quality = {
                    default: availableQualities[0],
                    options: availableQualities,
                    forced: true,
                    onChange: (e) => updateQuality(e),
                };

                player.setConfig(defaultOptions);
            });

            function updateQuality(newQuality) {
                player.setCurrentQuality(newQuality);
            }
        });
    </script>
</body>

</html>
