<!DOCTYPE html>
<html lang="en">

<head>
    <!-- existing code... -->
	<link rel="icon" type="image/x-icon"
        href="https://d1nxzqpcg2bym0.cloudfront.net/google_play/com.anime.flv/ec0213b8-f1d8-11e7-8b0a-7d62278fee98/128x128">
    <title>animeflv VideoPlayer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <style type="text/css">
        body {
            background-color: #000;
        }

        .container {
            width: 100%;
            height: 100%;
        }

        video {
            width: 100%;
            height: 100%;
        }
    </style>
	
    <link rel="stylesheet" href="https://cdn.jwplayer.com/lib/8.18.2/skins/skin.min.css">
    <script src="https://cdn.jwplayer.com/lib/8.18.2/jwplayer.js"></script>
</head>
<body>
<div class="container">
  <div id="player"></div>
</div>

<script>
 const source = 'https://corsbypass.herokuapp.com/{{ m3u8 }}';

document.addEventListener("DOMContentLoaded", () => {
    const playerElement = document.getElementById("player");
    const player = jwplayer(playerElement);

    player.setup({
        file: source,
        title: '{{ title }}',
        skin: {
            name: "bekle",
            active: "#FF6100",
            inactive: "#DDD",
            background: "#1A1A1A"
        },
        autostart: false,
        hlslabels: {
            // Set custom label names for quality levels
            "144": "Low",
            "240": "Medium",
            "480": "High",
            "720": "HD",
            "1080": "Full HD",
            "default": "Auto"
        },
        events: {
            onReady: function() {
                const availableQualities = player.getQualityLevels().map((l) => l.label);

                player.setCurrentQuality(availableQualities[0]);
                player.setupQualityLevels(availableQualities);
            },
            onQualityLevels: function(levels) {
                // Update the quality selector dropdown
                const qualityLevels = levels.levels.map((l) => l.label);
                player.setControls({
                    quality: qualityLevels
                });
            },
            onQualityChange: function(event) {
                // Update the current quality level
                console.log("Quality changed to: " + event.quality);
            }
        }
    });
});

</script>
</body>
</html>
